<h1><%= @place.name %></h1>

<p>Rating: <%= @place.rating %></p>

<p>Address: <%= @place.address %></p>


<%= link_to 'Update', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %> |
<%= link_to 'Destroy', place_path(@place),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>